# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""  # COLOQUE SUAS CREDENCIAIS AQUI COMO FOI FEITO NA AULA
ACCESS_TOKEN_SECRET="9ff8c9f8ac5f87754ebe889b19c95756ba7f2c3add5f112d1765a0a921126c1f9b5506d62cc450649b6fd1c47e5e84b1b021664391e41fb47f76b457a1fa3731"